/* .successColor.css-1s2u09g-control{
    color: rgb(138, 138, 138) !important;
}
.errorColor.css-1s2u09g-control{
    color: rgb(216, 7, 7) !important;
} */

.medicine-custom-search .wrapper {
    z-index: 100 !important;
}